*{
    margin: 0;
    padding: 0;
    font-family: Fira+Mono;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    /* font-family:Fira+Mono; */
    position: relative;
    width: 100%;
    height: 100%;
    background: #0F172A;
    /* background-image: url(images/39624.jpg); */
    position: relative;
    flex-wrap: wrap;
}
.Main{
    color: rgb(216, 210, 210);
    font-family: Fira Mono,monospace;
    line-height: 1.8em;
}
.ProjectName{
    margin-left: 9%;
    margin-top: 2%;
}
.Date h1{
    margin-top: 50px;
    text-indent: 10%;
    margin-right: 50px;
}
.Date h2{
    text-indent: 90%;
}
.Topic h1{
    margin-top: 4%;
    text-align: center;
}
mark {
    background-color: rgb(133, 133, 123);
    color: black;
  }
.Topic h2{
    /* mark-color */
    /* font-family: cursive; */
    margin-top: 1%;
    text-indent: 30%;
    margin-right: 20%;
    margin-left: 20%
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 20px;
    font-size: 15px;

}

nav ul li a:hover{
    color: orange;
}